<div class="container">
  <h1 class="text-center"> Tasks </h1>
  <section class="row text-center">
      <a href="<%= tasks_new_path %>" class="btn btn-default"> New Task </a>
  </section>
  <% @tasks.each do |t| %>
    <article>
      <ul>
        <li class="col-md-2"><strong><%= t.name %></strong></li>
        <li class="col-md-2"><strong><%= t.created_at %></strong></li>
        <li class="col-md-2"><strong><%= t.priority %></strong></li>      
      </ul>
    </article>
  <% end if @tasks.any? %>
</div>
