@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

html {
    height: 100%;
    min-height: 100%;
}

li {
    height: 50px;
    text-transform: lowercase;
}

li::first-letter {
  text-transform: uppercase;
}

span {
    color: #ff586d;
}

.icono_centro {
    margin-left: 30px;
}

.boton-color {
    background-color: #ff586d;
    border-color: #46b8da;
    color: white;
}

.nav-frente {
  z-index: 100;
}

.view-padding {
  padding-top: 70px;
}

.li-view {
  list-style: none;
  margin-left: 170px;
}

/*login full screen*/


/*login*/
.boton-color {
    background-color: #ff586d;
    border-color: #46b8da;
    color: white;
}

.boton-color-dos {
  background-color: #B22C3D;
  border-color: #46b8da;
  color: white;
}

.btn {
    outline: 0;
    border: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    box-shadow: inset 2px -3px rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: 0;
    -webkit-outline: 0;
    -moz-outline: 0;
}

.fullscreen_bg {
    padding-top: 100px;
    position: absolute;;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('https://s16.postimg.org/9mi5343id/bg_login.jpg');
    background-repeat: repeat;
}

.form-signin {
    max-width: 280px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 50px;
}

.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-color: #000;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.form-signin input[type="confirm"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-color: rgb(0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.form-signin-heading {
    color: #fff;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

a {
  color: white;

}

/*sidebar*/
/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f8f8f8;
    border-right: 2px solid #ececec;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 160px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #3c3c3c;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #3c3c3c;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 162px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.navbar-brand>img{
  display: unset;
}

/*alerts*/
.info, .success, .warning, .error {
margin: 10px 0px;
padding:12px;
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
}

.info i, .success i, .warning i, .error i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

/*video*/
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  }

#cont {
  width: 100%;
  height: 100%;
}

#cont:before {
    position: fixed;
    content: '';
    background: rgba(0,0,0, 0.5); /*partially transparent image*/
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.h1-home {
  color: #fff;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
