<div id="cont">
<video poster="" id="bgvid" playsinline autoplay muted loop>
  <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<source src="http://ak7.picdn.net/shutterstock/videos/4391237/preview/stock-footage-time-lapse-shot-of-a-young-and-attractive-business-team-of-mixed-ethnicity-working-together-in-a-bu.webm" type="video/webm">
<source src="http://ak7.picdn.net/shutterstock/videos/4391237/preview/stock-footage-time-lapse-shot-of-a-young-and-attractive-business-team-of-mixed-ethnicity-working-together-in-a-bu.mp4" type="video/mp4">
</video>
</div>
<div class="h1-home" id="todo">
  <h1>To Do List</h1>
</div>
